<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="blog_list.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="blog-menu">

    <ul class="nav-links">
      <li><a href="#">ブログトップ</a></li>
      <li><a href="#">ブログ登録</a></li>
      <li><a href="#">ログアウト</a></li>

    </ul>
    <div class="search-container">
      <input type="text" name="search" id="search" placeholder="検索ワードを入力" required>
      <span class="search-icon"><i class="fas fa-search"></i></span>
    </div>
  </nav>
  <div class="background">
    <div class="text">
      <p>Blog List</p>
    </div>
    <div class="post">
      <img src="/images/icon_business_man01.png">
      <div class="post-content">
        <h2 class="post-title">初めてのブログ投稿</h2>
        <div class="post-date">2025年5月14日</div>
        <p class="post-excerpt">これはブログです。続きは下のリンクからどうぞ。</p>
        <a class="read-more" href="#">続きを読む</a>
      </div>
    </div>
    <div class="post">
      <img src="images/dog.jpg">
      <div class="post-content">
        <h2 class="post-title">ペットカフェ巡りレポート</h2>
        <div class="post-date">2025年5月12日</div>
        <p class="post-excerpt">今回は原宿の人気カフェに行ってきました！</p>
        <a class="read-more" href="#">続きを読む</a>
      </div>
    </div>

  </div>
  </div>
  <div class="footer-content">
    <p>&copy; 2025 Blog. All rights reserved.</p>
  </div>
</body>

</html>