<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/blog_list.css}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="blog-menu">

    <ul class="nav-links">
		<li><a th:href="@{/blog/list}">ブログトップ</a></li>
			 <li><a th:href="@{/blog/register}">ブログ登録</a></li>
		     <li><a th:href="@{/users/logout}">ログアウト</a></li>
			 <li><a th:href="@{/profile}">自己紹介</a></li>

    </ul>
	<form action="/blog/search" method="get" class="search-container">
	  <input type="text" name="keyword" id="search" placeholder="検索ワードを入力" required>
	  <button type="submit" class="search-icon">
	    <i class="fas fa-search"></i>
	  </button>
	</form>
  </nav>
  <main class="main-content">
    <div class="background">
      <div class="text">
        <p th:text="|${accountName} さんのブログ一覧|">Blog List</p>
      </div>

      <div th:each="blog:${blogList}" class="post">
      <a th:href="@{/blog/view/{blogId}(blogId=${blog.blogId})}" class="post-link">
          <img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" th:alt="${blog.blogTitle}">
          <div class="post-content">
            <p class="post-title" th:text="${blog.blogTitle}">タイトル</p>
            <p class="post-category" th:text="${blog.categoryName}">カテゴリー</p>
			<p class="post-content" th:text="${blog.blogContent}">詳細</p>
			<p class="post-views">閲覧数: <span th:text="${blog.viewCount}">0</span></p>
          </div>
        </a>
      </div>
    </div>
  </main>
  <footer class="footer-content">
  <p>&copy; 2025 Blog. All rights reserved.</p>
</footer>
</body>

</html>