<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="stylesheet" th:href="@{/css/blog_edit.css}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <nav class="blog-menu">

	<ul class="nav-links">
		<li><a th:href="@{/blog/list}">ブログトップ</a></li>
					 <li><a th:href="@{/blog/register}">ブログ登録</a></li>
				     <li><a th:href="@{/users/logout}">ログアウト</a></li>
					 <li><a th:href="@{/profile}">自己紹介</a></li>
	   </ul>
   
  </nav>
  <div class="text">
    <h2>記事編集</h2>
  </div>
  <main>
    <section>
      <form th:action="@{/blog/edit/process}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="blogId" th:value="${blog.blogId}">
        <div class="register-section-details_flex">
          <label for="title">タイトル</label>
          <input type="text" id="title" name="blogTitle" th:value="${blog.blogTitle}">
        </div>
        <div class="register-section-details_flex">
          <label for="category">カテゴリー</label>
          <input type="text" id="category" name="categoryName" th:value="${blog.categoryName}">
        </div>

        <div class="register-section-details_flex">
          <label for="image">画像</label>
          <input type="file" id="image" name="blogImage">
		  <div th:if="${blog.blogImage != null}">
		     <img th:src="@{'/images/' + ${blog.blogImage}}" alt="現在の画像" width="200">
		   </div>
        </div>

        <div class="register-section-details_flex">
          <label for="details">詳細</label>
          <textarea id="details" name="blogContent" th:text="${blog.blogContent}"></textarea>
        </div>
        <div class="button-group">
          <button type="submit" class="btn">変更</button>
          <button type="button" onclick="history.back()" class="btn">戻る</button>
        </div>
      </form>
      <form th:action="@{/blog/delete}" method="post">
        <div class="">
          <input type="hidden" name="blogId" th:value="${blog.blogId}">
          <button>削除</button>
        </div>
      </form>
    </section>
  </main>
  <div class="footer-content">
    <p>&copy; 2025 Blog. All rights reserved.</p>
  </div>
</body>

</html>